<footer class="footer">
      <div class="container">
        <section class="footer__content">
          <div class="footer__brand">
            <img src="images/brand.svg" width="88" alt="brand" />
            <p>Ansell Maximilan's Developer Profile</p>
          </div>
          <div class="footer__socials">
            <a href="https://github.com/AnsellMaximilian" aria-label="Github">
              <span>Github</span>
              <span>
                <i class="fab fa-github"></i>
              </span>
            </a>
            <a
              href="https://www.linkedin.com/in/ansell-maximilian-61b9651b6/"
              aria-label="Linkedin"
              ><span>LinkedIn</span> <span><i class="fab fa-linkedin"></i></span
            ></a>
            <a href="https://github.com/AnsellMaximilian" aria-label="Twitter"
              ><span>Twitter</span> <span><i class="fab fa-twitter"></i></span
            ></a>
          </div>
        </section>
      </div>
      <div class="footer__copyright">
        Copyright &copy; 2021 - Ansell Maximilian
      </div>
    </footer>