<header class="header" id="header">
      <nav class="navbar container">
        <a href="#" class="navbar__brand" aria-label="Home"
          ><img src="images/brand.svg" width="88" alt="brand"
        /></a>
        <div class="toggle-btn" id="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="navbar__nav-list" id="nav-list">
          <li>
            <a href="#about-me">About Me</a>
          </li>
          <li>
            <a href="#projects">Projects</a>
          </li>
          <li>
            <a href="#skills">Skills</a>
          </li>
        </ul>
        <ul class="navbar__social-links">
          <li>
            <a
              href="https://www.linkedin.com/in/ansell-maximilian-61b9651b6/"
              aria-label="Linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/AnsellMaximilian" aria-label="Github"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/ansell-maximilian-61b9651b6/"
              aria-label="Twitter"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>