<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ansell Maximilian is a web developer based in Indonesia. See what projects he has done and what languages he's familiar with."
    />
    <link rel="icon" href="icon.png" />
    <link rel="stylesheet" href="css/main.css" />
    <script
      src="https://kit.fontawesome.com/7b34ca6c35.js"
      crossorigin="anonymous"
    ></script>
    <title>Ansell Maximilian - Developer Profile</title>
    <meta
      name="google-site-verification"
      content="QvDcxmGM6npBhnedu5YycH3HDT3oe4YGLcV_J0oURkI"
    />
    <meta
      name="google-site-verification"
      content="X9rdxDeJ0FzhDd5KXArRe5BqHhrGElTiNQhKAPeO7H0"
    />
  </head>
  <body>
    {% include "../partials/header.njk" %}

    {% block content %}
        
    {% endblock %}


    {% include "../partials/footer.njk" %}

    <script src="js/main.js"></script>
  </body>
</html>
