.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 100rem;
  &--secondary {
    background-color: $secondary-color;
    color: $secondary-text-color;
    font-weight: bold;
  }
  &:hover {
    opacity: 0.9;
  }
}
