.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 100rem;
  &--secondary {
    background-color: $secondary-color;
    color: $secondary-text-color;
    font-weight: bold;
  }
  &:hover {
    opacity: 0.9;
  }
}

// Button with icon
$slider-btn-height: 4rem;
$slider-btn-height-small: 3rem;
$slider-btn-animation-dur: 1s;
$slider-btn-border-size: 0.25rem;
.slider-btn {
  font-weight: bold;
  // margin: 1rem 1rem 0;
  text-decoration: none;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 10rem;
  position: relative;
  background-color: black;
  color: white;
  height: $slider-btn-height;
  padding-left: 2rem;
  padding-right: $slider-btn-height + 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  transition: all $slider-btn-animation-dur;
  &:hover {
    text-decoration: underline;
    padding-right: 2rem;
    padding-left: $slider-btn-height + 1rem;
    background-color: white;
    color: black;
    .slider-btn__icon {
      left: 0;
      right: 100%;
      transform: translate(0, -50%);
      background-color: black;
      color: white;
    }
  }
  @include breakpoint-down(small) {
    height: $slider-btn-height-small;
    padding-right: $slider-btn-height-small + 0.5rem;
    padding-left: 1.5rem;
    &:hover {
      padding-left: $slider-btn-height-small + 0.5rem;
      padding-right: 1.5rem;
    }
    .slider-btn__icon {
      width: $slider-btn-height-small;
      height: $slider-btn-height-small;
      font-size: 1.5rem;
    }
  }
  &--bordered {
    border: $slider-btn-border-size $secondary-color solid;
    .slider-btn__icon {
      transform: translate(calc(-100% + #{$slider-btn-border-size}), -50%);
    }
    &:hover {
      .slider-btn__icon {
        transform: translate(0 - $slider-btn-border-size, -50%);
      }
    }
  }

  &__icon {
    transition: all $slider-btn-animation-dur;
    background-color: white;
    color: black;
    font-size: 2rem;
    position: absolute;
    border-radius: 50%;
    right: 0;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: $slider-btn-height;
    height: $slider-btn-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--red {
    background-color: $red;
    color: $primary-text-color;
    &:hover {
      background-color: white;
      color: $red;
      .slider-btn__icon {
        background-color: $red;
        color: white;
      }
    }
    .slider-btn__icon {
      color: $red;
    }
  }
  &--blue {
    background-color: $blue;
    color: $primary-text-color;
    &:hover {
      background-color: white;
      color: $blue;
      .slider-btn__icon {
        background-color: $blue;
        color: white;
      }
    }
    .slider-btn__icon {
      color: $blue;
    }
  }
}
