.footer {
  background-color: $background-color;
  padding: 2rem 0 1rem;
  &__content {
    margin-bottom: 1rem;
    .footer__socials {
      @include flex($justify: flex-end);
      a {
        display: inline-block;
        &:not(:first-child) {
          margin-left: 2rem;
        }
        @include flex;
        background-color: $secondary-color;
        width: 3rem;
        height: 3rem;
        color: $secondary-text-color;
        font-size: 1.5rem;
        border-radius: 100rem;
      }
    }
  }
  &__copyright {
    text-align: center;
  }
}
