.main-header {
  background-color: $background-color;
  z-index: 100;
  position: sticky;
  padding: 0.5rem 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  .navbar {
    @include flex($justify: flex-start, $wrap: wrap);
    @include breakpoint-down(small) {
      justify-content: space-between;
    }
    position: relative;
    .nav-brand {
      margin-right: 2rem;
    }
    &.open {
      .nav-list {
        height: auto;
      }
      .toggle-btn {
        background-color: rgba($primary-color, 0.25);
      }
    }
    .toggle-btn {
      cursor: pointer;
      border-radius: 5px;
      padding: 0.5rem;
      > span {
        &:not(:last-child) {
          margin-bottom: 0.3rem;
        }
        height: 0.25rem;
        width: 1.5rem;
        display: block;
        background-color: $primary-text-color;
      }
      display: none;
      @include breakpoint-down(small) {
        display: block;
      }
      &:hover {
        background-color: rgba($primary-color, 0.25);
      }
    }
  }

  .nav-list {
    @include flex(flex-start, center);
    @include breakpoint-down(small) {
      width: 100%;
      @include flex($dir: column);
      height: 0;
      overflow-y: hidden;
      > a {
        width: 100%;
        padding: 1rem 0;
        &:hover {
          background-color: rgba(0, 0, 0, 0.025);
        }
      }
    }
    a {
      display: inline-block;
      @include breakpoint-up(medium) {
        margin-right: $spacing4;
      }
      color: $dim-primary-text-color;
      font-weight: bold;
    }
    a.active,
    a:hover {
      color: $primary-text-color;
    }
  }
}
