.hero {
  &.coloured {
    background-color: rgba($primary-color, 0.75);
    // color: $primary-contrast-text-color;
  }
  .cta {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.75rem 2.25rem;
    box-shadow: none;
    border-radius: 2rem;
    @include breakpoint-down(small) {
      font-size: 1rem;
      padding: 0.5rem 2rem;
    }
  }
  &__title {
    font-size: 2.75rem;
    font-weight: 700;
    @include breakpoint-down(small) {
      font-size: 2rem;
    }
  }
  &__subtitle {
    font-size: 1.35rem;
    @include breakpoint-down(small) {
      font-size: 1rem;
    }
  }
}
